{% extends 'base-offline.html.twig' %}

{% block title %} Register {% endblock %}

{% block style_background %} 
    style="background-image:url(http://noahmillsonline.com/wp-content/uploads/2018/05/wallpaper-hd-paysages-1920-x-1080-sur-le-forum-blabla-18-25-ans-con-fond-d-cran-hd-paysage-e-1438620192-wallhaven-60060-1920x1080px-fond-d-cran-hd-paysage.jpg)"
{% endblock %}


{% block formulaire %}
    <form method="GET">
        <div class="form-group">
            <label class="text-normal text-dark">Firstname</label> 
            <input type="text" class="form-control" placeholder="John">
        </div>
        <div class="form-group">
            <label class="text-normal text-dark">Lastname</label> 
            <input type="text" class="form-control" placeholder="Doe">
        </div>
        <div class="form-group">
            <label class="text-normal text-dark">Email</label> 
            <input type="email" class="form-control" placeholder="JohnDoe@msn.com">
        </div>
        <div class="form-group">
            <label class="text-normal text-dark">Password</label> 
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label class="text-normal text-dark">Phone tel</label> 
            <input type="tel" class="form-control" placeholder="0615234569">
        </div>
        <div class="form-group">
            <div class="peers ai-c jc-sb fxw-nw">
                <div class="peer">
                    <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                        <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer"> 
                        <label for="inputCall1" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Remember Me</span></label>
                    </div>
                </div>
                <div class="peer"><button type="submit" class="btn btn-primary">Login</button></div>
            </div>
        </div>
    </form>
{% endblock %}